<%- include ('../partials/header.ejs') %>
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include ('../partials/navigation.ejs') %>

    <main>
      <% if (errorMessage) { %>
      <div class="user-message user-message--error"><%= errorMessage %></div>
      <% } %>
      <form class="product-form" action="/admin/<% if (editing) { %>edit<% } else { %>add<% } %>-product" method="post">
        <div class="form-control">
          <label for="title">Title</label>
          <input 
            class="<%= validationErrors.find(error => error.param === 'title') ? 'invalid' : '' %>" 
            type="text" 
            id="title" 
            name="title" 
            value="<% if (editing || hasError) { %><%= product.title %><% } %>"
          />
        </div>
        <div class="form-control">
          <label for="imageUrl">Image URL</label>
          <input 
            class="<%= validationErrors.find(error => error.param === 'imageUrl') ? 'invalid' : '' %>" 
            type="text" 
            id="imageUrl" 
            name="imageUrl" 
            value="<% if (editing || hasError) { %><%= product.imageUrl %><% } %>" 
          />
        </div>
        <div class="form-control">
          <label for="price">Price</label>
          <input 
            class="<%= validationErrors.find(error => error.param === 'price') ? 'invalid' : '' %>" 
            type="number" 
            id="price" 
            name="price" 
            step="0.01" 
            value="<% if (editing || hasError) { %><%= product.price %><% } %>" 
          />
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea 
            class="<%= validationErrors.find(error => error.param === 'description') ? 'invalid' : '' %>" 
            id="description" 
            name="description" 
            rows="5" 
            value><% if (editing || hasError) { %><%= product.description %><% } %>
          </textarea>
        </div>
        <% if (editing) { %>
          <input type="hidden" name="productId" value="<%= product._id %>" />
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit">
          <% if (editing) { %>Update<% } else { %>Add<% } %> Product
        </button>
      </form>
    </main>
    
<%- include ('../partials/footer.ejs') %>
