<%- include ('../partials/header.ejs') %>
  </head>
  <body>
    <%- include ('../partials/navigation.ejs') %>

    <main>
      <% if (products.length > 0) { %>
        <h1>Shopping Cart</h1>
        <ul>
          <% products.forEach(p => { %>
            <li><%= p.productData.title %> (<%= p.qty %>)</li>
          <% }) %>
        </ul>
      <% } else { %>
        <h1>There are no items in your cart.</h1>
      <% } %>
    </main>

<%- include ('../partials/footer.ejs') %>