  <%- include ('../partials/header.ejs') %>
  <link rel="stylesheet" href="/css/product.css">
  </head>
  <body>
    <%- include ('../partials/navigation.ejs') %>

    <main>
      <% if (products.length > 0) { %>
        <div class="grid">
          <% products.forEach(product => { %>
            <article class="card product-item">
              <header class="card__header">
                <h1 class="product_title"><%= product.title %></h1>
              </header>
              <div class="card_image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
              </div>
              <div class="card__content">
                <h2 class="product_price">$<%= product.price %></h2>
                <p class="product_description"><%= product.description %></p>
              </div>
              <div class="card__actions">
                <a class="btn" href="/products/<%= product.id %>">Details</a>
                <form action="/add-to-cart" method="post">
                  <button class="btn" type="submit">Add to Cart</button>
                </form>                
              </div>
            </article>
          <% }) %>
        </div>
      <% } else { %>
        <h1>No products found</h1>
      <% } %>
    </main>

    <%- include ('../partials/footer.ejs') %>
